// nextflow.config

def KG_VERSION = "MONDO_HGNC"
def DEVICE = "2"
def MODEL = "complex"
def MONARCH_KG_PATH = "${projectDir}/data/MonarchKG/monarch-kg_edges.tsv"
def NODES = "MONDO:,HGNC:"
def RANDOM_SEEDS = "42,314,123,678,9484"
def SIMILARITIES_DIR = "${projectDir}/out/cosine_sim"

params {
    // Filter
    monarch_kg = "${MONARCH_KG_PATH}"
    nodes2filter = "${NODES}"
    filterOut = "${projectDir}/out/filtered_graphs"

    // Splits
    seeds="${RANDOM_SEEDS}"
    sim_dir="${SIMILARITIES_DIR}"
    baselineSplitsOut="${projectDir}/out/KG_split/${KG_VERSION}/baseline"
    augmentedSplitOut="${projectDir}/out/KG_split/${KG_VERSION}"

    // HPO
    baselineSplitsDir="${projectDir}/out/KG_split/${KG_VERSION}/baseline/split_seed${RANDOM_SEEDS.split(",")[0]}"
    graph = "${KG_VERSION}"
    device = "${DEVICE}"
    model = "${MODEL}"
    study_name = "${MODEL}_${KG_VERSION}"
    pykeenOut = "${projectDir}/out/PyKeenOut"
}