// nextflow.config

def KG_VERSION = "MONDO_HGNC"
def MONARCH_KG_PATH = "${projectDir}/data/MonarchKG/monarch-kg_edges.tsv"
def NODES = "MONDO:,HGNC:"
def RANDOM_SEEDS = "42,314,123,678,9484"
def SIMILARITIES_DIR = "${projectDir}/out/cosine_sim"

params {
    graph = "${KG_VERSION}"
    
    monarch_kg = "${MONARCH_KG_PATH}"
    nodes2filter = "${NODES}"
    filterOut = "${projectDir}/out/filtered_graphs"

    seeds = "${RANDOM_SEEDS}"
    sim_dir = "${SIMILARITIES_DIR}"
    baselineSplitsOut = "${projectDir}/out/KG_split/${KG_VERSION}/baseline"
    augmentedSplitOut = "${projectDir}/out/KG_split/${KG_VERSION}"
}